<div class="container" fxLayout="column" fxLayoutAlign="center center">
    <h2>Employer Sign-up</h2>
    <form [formGroup]="employerForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="15px">
      <mat-form-field appearance="fill">
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>
    </form>
    
    <div fxLayout="row" fxLayoutAlign="center">
      <button mat-raised-button color="primary" type="submit">Sign Up</button>
    </div>
  </div>
  